* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Trebuchet MS", "Times New Roman", Times, Serif;
	font-size: 13px;
	line-height: 18px;
	padding: 7px;
}
img {
	border: 0;
}

h1 {
	color: #115B2F;
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 10px;
}
h2 {
	font-size: 20px;
	line-height: 24px;
	color: #333;
	margin-bottom: 10px;
}
h2.hl {
	color: #115B2F;
}

h3 {	
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #11954C;
	margin-bottom: 10px;
}
h4 {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
	margin-bottom: 5px;
}
h5 {	
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #11954C;
	margin-bottom: 5px;
}


a {
	color: #0E7FC7;
	color: #0E7FC7 !important;
}

strong {
	color: #333;
}

p {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 12px;
	color: #666;
}
.right {
	padding: 0 0 10px 10px;
	float: right;
}
.left {
	padding: 0 10px 10px 0;	
	float: left;
}


ul {
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 0;
}
ul li {
	font-size: 13px;
	line-height: 18px;
	color: #666;
}


ol {
	margin-left: 20px;
	margin-bottom: 20px;
}
ol li {
	margin-bottom: 5px;
}


.ethos {
	width: 560px;
	overflow: hidden;
	border: 1px solid #eee;
	padding: 9px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-image: url(/static/img/sidemenu_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom left;
}

.ethos .thumb {
	width: 200px;
	float: left;
}
.ethos .stat {
	width: 320px;
	padding: 20px;
	float: right;
}


.ethos h3 {
	color: #333;
}


.award {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	width: 560px;
}