* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FAFAFB;
	font-family: "Trebuchet MS", "Times New Roman", Times, Serif;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
}

#wrapper {
	text-align: left;
	width: 955px;
	margin: 0 auto;
}

#top {
	margin-top: 10px;
	width: 925px;
	padding: 0 15px;
	text-align: right;
}

#search .q {
	width: 160px;
	padding: 1px 0;
	vertical-align: top;
}

#header {
	margin-top: 25px;
	width: 925px;
	padding: 0 0 0 15px;
	overflow: hidden;
	background-image: url(/static/img/icons.gif);
	background-repeat: no-repeat;
	background-position: 100% 0;
}
#header #logo {
	float: left;
	width: 370px;
}
#header #logo h1 {
	margin: 0;
}
#header #logo h1 a {
	background-image: url(/static/img/queenscresent_logo.jpg);
	background-repeat: no-repeat;
	padding-top: 100px;
	height: 0;
	width: 370px;
	overflow: hidden;
	display: block;
	text-indent: -1000px;
}

#nav {
	margin-top: 20px;
	width: 905px;
	padding: 0 25px;
	background-image: url(/static/img/nav_bg.jpg);
	background-repeat: no-repeat;
}

#nav ul {
	padding-top: 4px;
	padding-left: 1px;
	list-style-type: none;
	overflow: hidden;
	width: 925px;
}
#nav li {
	float: left;
	font-size: 14px;
	font-weight: bold;
}
#nav li a {
	color: #FFF;
	display: block;
	padding: 5px 25px;
	text-decoration: none;
	background-image: url(/static/img/nav_split.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0;
}
#nav li a:hover {
	background-color: #444;
	color: #FFF;
}

#nav li a.active {
	background-color: #FFF;
	color: #115B2F;
}

#content {
	width: 925px;
	padding: 10px 15px 0;
	background-image: url(/static/img/content_bg.jpg);
	background-repeat: repeat-y;
	overflow: hidden;
}

#sidebar {
	float: left;
	width: 255px;
	background-image: url(/static/img/sidemenu_bg.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: #EAEAEA;
	border-top: 1px solid #C5CCD3;
}

#sidemenu {
	width: 205px;
	padding: 25px;
}
#sidemenu ul {
	list-style-type: none;
	border-top: 1px solid #C5CCD3;
}
#sidemenu li {
	font-size: 12px;
	font-family: "Trebuchet MS", "Times New Roman", Times, Serif;
	font-weight: bold;
}
#sidemenu a {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #C5CCD3;
	text-decoration: none;
	color: #666;
	display: block;
	padding: 7px 10px;
	background-color: #EAEAEA;
}
#sidemenu a.active, #sidemenu a:hover {
	color: #000;
	background-color: #D7D7D7;
	background-image: url(/static/img/sidemenu_active.gif);
}

#main {
	margin-top: 25px;
	float: right;
	width: 620px;
	padding-right: 25px;
}

.twocol {
	overflow: hidden;
	width: 620px;
}
.twocol .col1 {
	float: left;
	width: 300px;
}
.twocol .col2 {
	float: right;
	width: 300px;
}


.main {
	width: 620px;
	overflow: hidden;
}
.main .body {
	width: 430px;
	float: left;
}
.main .sidebar {
	width: 170px;
	float: right;
}

.main2 {
	width: 620px;
	overflow: hidden;
}
.main2 .body {
	width: 410px;
	float: left;
}
.main2 .sidebar {
	width: 190px;
	float: right;
}

.layout1 {
	margin: 20px 0 0;
	width: 875px;
	padding: 0 25px;
	overflow: hidden;
}
.layout1 .col1 {
	float: left;
	width: 400px;
}
.layout1 .col1 .updates, .layout1 .col1 .banners {
	width: 620px;
	overflow: hidden;
}
.layout1 .banners {
	width: 100%;
	overflow: hidden;
}

.banners .banner1, .banners .banner2, .banners .banner3  {
	width: 170px;
	float: left;
	padding-right: 64px;
}
.banners .banner4  {
	width: 170px;
	float: right;
}

.layout1 .col1 .updates .left {
	width: 380px;
	float: left;
}
.layout1 .col1 .updates .right {
	width: 190px;
	float: right;
}
.layout1 .col1 .banners .banner1 {
	width: 170px;
	float: left;
}
.layout1 .col1 .banners .banner2 {
	padding-left: 55px;
	width: 170px;
	float: left;
}
.layout1 .col1 .banners .banner3 {
	width: 170px;
	float: left;
}

.layout1 .col2 {
	float: right;
	width: 400px;;
}

.search {
	padding: 15px 25px;
	width: 875px;
}

#footer {
	background-image: url(/static/img/footer_bg.jpg);
	background-repeat: no-repeat;
	width: 875px;
	padding: 60px 40px 80px;
	overflow: hidden;
}
#footer .col1 {
	float: left;
	width: 345px;
}
#footer .col2 {
	float: left;
	width: 200px;
}
#footer .col3 {
	float: right;
	width: 320px;
	text-align: right;
}
#footer .col3 .strap {
	font-size: 12px;
}

h1 {
	color: #115B2F;
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 10px;
}

h2 {
	font-size: 20px;
	line-height: 24px;
	color: #333;
	margin-bottom: 10px;
}

h2.hl {
	color: #115B2F;
}

h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #11954C;
	margin-bottom: 10px;
}

h4 {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
	margin-bottom: 5px;
}
h5 {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: #11954C;
	margin-bottom: 5px;
}

p {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 12px;
	color: #666;
}

#main ul {
	margin-left: 20px;
	margin-bottom: 20px;
}

li {
	font-size: 13px;
	line-height: 18px;
	color: #666;

}

strong {
	color: #333;
}

a {
	color: #0E7FC7;
}
a:hover {
	text-decoration: none;
}

a.feed {
	padding-left: 28px;
	padding: 1px 3px 7px 28px;
	background-image: url(/static/img/feed.jpg);
	background-repeat: no-repeat;
}

img {
	border: 0;
}
#footer ul {
	list-style-type: none;
}
#footer li {
	font-size: 12px;
	margin-bottom: 4px;
}
#footer p {
	color: #666;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 10px;
}

.block {
	margin-bottom: 30px;
}

.item {
	width: 380px;
	overflow: hidden;
	margin-bottom: 5px;
}
.item .date {
	margin-top: 5px;
	float: left;
	width: 60px;
}
.item .info {
	float: right;
	width: 305px;
}
.day {
	font-size: 27px;
	color: #666;
}

.further {
	width: 380px;
	overflow: hidden;
}
.further .subscribe {
	padding-left:  75px;
	float: left;
	width: 120px;
}
.further .more {
	text-align: right;
	float: right;
	width: 150px;
}
.twitter_update_list
{
	float: left;
}
.tweet {
	margin-bottom: 10px;
	width: 190px;
	float: right;
}

.tweet {
	margin-bottom: 10px;
	width: 190px;
}

.tweet:first-child {
	float: left;
}
.tweet:last-child {
	float: right;
}

.tweet .head {
	background-image: url(/static/img/twitter/tweet_header.jpg);
	background-repeat: no-repeat;
	padding: 30px 15px 1px;
	min-height: 50px;
}
.tweet .foot {
	background-image: url(/static/img/twitter/tweet_footer.jpg);
	background-repeat: no-repeat;
}

.tweet p {
	color: #333;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 0;
}
.twitter_link p{
	float: right;
}
.tweet a {
	color: #FFF;
	white-space: nowrap;
}
a.twitter {
	padding-left: 28px;
	padding: 2px 3px 7px 28px;
	background-image: url(/static/img/twitter/icon.jpg);
	background-repeat: no-repeat;
}

.section.introduction .summary {
	width: 230px;
	padding: 70px 0 0 30px;
}
.section.register .summary {
	width: 250px;
	padding: 70px 0 0 30px;
}

.section.prescriptions .summary {
	width: 350px;
	padding: 70px 0 0 30px;
}
.section.results .summary {
	width: 350px;
	padding: 70px 0 0 480px;
}
.section.appointments .summary {
	width: 430px;
	padding: 70px 0 0 480px;
	overflow: hidden;
}

.section.appointments .summary .box {
	width: 430px;
	float: left;
}

.section.appointments .summary .left {
	width: 210px;
	float: left;
}
.section.appointments .summary .right {
	width: 210px;
	float: right;
}

#tabarea {
	padding: 12px;
	width: 901px;
	margin-bottom: 20px;
	overflow: hidden;
}

/* root element for tabs */
#flowtabs {
	/* dimensions */
	width:900px;
	height:31px !important;
	margin:0 !important;
	padding:0;
}
* html #flowtabs {
	margin-bottom:-2px;
}

/* single tab */
#flowtabs li {
	float:left;
	margin:0;
	padding:0;
	text-indent:0;
	list-style-type:none;
}

/* a- tag inside single tab */
#flowtabs li a {
	background: url(/static/img/nav.jpg) no-repeat;
	display:block;
	height: 85px;
	width: 180px;
	padding:0px;
	margin:0px;

	/* font decoration */
	color:#000;
	font-size:12px;
	line-height:33px;
	text-align:center;
	text-decoration:none;
	text-indent: -2000px;
}

/* adjust the background image position on each tab */
#flowtabs #t1 			{ background-position:  0 -85px; }
#flowtabs #t2 			{ background-position: -180px -85px; }
#flowtabs #t3 			{ background-position: -360px -85px; }
#flowtabs #t4 			{ background-position: -540px -85px; }
#flowtabs #t5 			{ background-position: -720px -85px; }

/* mouseover state */
#flowtabs a:hover 		{ color:#fff;	 }
#flowtabs #t1:hover 	{ background-position:      0 0; }
#flowtabs #t2:hover 	{ background-position: -180px 0; }
#flowtabs #t3:hover 	{ background-position: -360px 0; }
#flowtabs #t4:hover 	{ background-position: -540px 0; }
#flowtabs #t5:hover 	{ background-position: -720px 0; }

/* currently selected tabs */
#flowtabs a.current		{ cursor:default; color:#fff; line-height:85px; }
#flowtabs #t1.current { background-position:  0 0; }
#flowtabs #t2.current { background-position: -180px 0; }
#flowtabs #t3.current { background-position: -360px 0; }
#flowtabs #t4.current { background-position: -540px 0; }
#flowtabs #t5.current { background-position: -720px 0; }

/* panes */
#flowpanes {
	width:900px;
	height:277px;
	background: #eee;
}
/* override the root element to enable scrolling */
#flowpanes {
    background-image: url('/static/img/flowbackground.jpg');
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position:relative;
    overflow:hidden;
    clear:both;
}

/* override single pane */
#flowpanes div.slide {
	float:left;
	display:block;
	width:900px;
	height:277px;
	overflow: hidden;
	cursor:pointer;
	font-size:14px;
	background-repeat: no-repeat;
}

/* our additional wrapper element for the items */
#flowpanes .items {
	width:20000em;
	position:absolute;
	clear:both;
	margin:0;
	padding:0;
}

#flowpanes .slider-left {
    padding: 70px 0 0 35px;
    width: 44%;
}

#flowpanes .slider-right {
    padding: 70px 0 0 480px;
    width: 44%;
}

.fp-left {
    background-position: left top;
    background-repeat: no-repeat;
}

.fp-right {
    background-position: right top;
    background-repeat: no-repeat;
}

table {
	margin-bottom: 20px;
}
td {
	padding: 3px 0;
	vertical-align: top;
}

.fieldset, fieldset.fieldset {
	padding-top: 10px;
	padding-bottom: 20px;
	border: 0 none;
	border-top: 1px solid #F5F5F5;
}

fieldset.fieldset legend, fieldset.fieldset h3 {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #11954C;
	margin-bottom: 10px;
}
.field {
	font-size: 13px;
	text-align: right;
	padding-right: 10px;
}
.req strong, .req {
	color: #115B2F;
	font-size: 13px;
}
.opt strong, .opt {
	color: #999;
}
.surname {
	width: 250px;
}
.firstnames {
	width: 195px;
}
.previoussurname {
	width: 250px;
}
.town {
	width: 320px;
}

.address {
	width: 320px;
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #ccc;
	padding: 3px;
	font-family: "Trebuchet MS", "Times New Roman", Times, Serif;
}

.postcode {
	width: 80px;
}

.nhsnumber1, .nhsnumber2, .nhsnumber3 {
	width: 43px;
}

.previousdoctor {
	width: 320px;
}

.todo {
	color: red;
	background-color: #FFEAFB;
}

.time {
	display: block;
	text-align: right;
}

.sidebanner {
	margin-bottom: 10px;
}

.sites {
	margin-top: 10px;
	overflow: hidden;
	width: 875px;
	padding: 0 25px;

}
.sites img {
	border: 1px solid #ccc;
}
.sites .col1 {
	width: 255px;
	float: left;
}
.sites .col2 {
	padding-left: 55px;
	width: 255px;
	float: left;
}
.sites .col3 {
	width: 255px;
	float: right;
}

.ethos {
	width: 600px;
	overflow: hidden;
	border: 1px solid #eee;
	padding: 9px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-image: url(/static/img/sidemenu_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom left;
}

.ethos .thumb {
	width: 200px;
	float: left;
}
.ethos .stat {
	width: 360px;
	padding: 20px;
	float: right;
}

#content .ethos h3 {
	color: #333;
}

.awards {
	margin-top: 10px;
	width: 875px;
	padding: 0 25px;
	overflow: hidden
}
.awards .latest {
	width: 600px;
	float: left;
}
.awards .older {
	margin-top: 40px;
	width: 250px;
	float: right;
}

.award {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	width: 600px;
}

th {
	text-align: left;
}
td {
	vertical-align: top;
}

.items tbody tr:hover {
	background-color: #F5F5F5;
}

input.text {
	padding: 5px;
	border: 2px solid #CCC;
}
.textarea {
	padding: 5px;
	border: 2px solid #CCC;
	color: #333;
}

.error {
	font-size: 12px;
	line-height: 16px;
	color: red;
	background-color: #FFEAFB;
	margin-bottom: 10px;
}

.advanced {
	color: #999;
	font-size: 12px;
}
.advanced_input {
	border: 1px dotted #DDD;
	padding: 0 5px;
	border-top: none;
	margin-bottom: 10px;
}

#main ul.sortable-list {
    list-style-type : none;
    margin : 0;
	padding-left: 0;
	margin-bottom: 15px;
}
#main ul.sortable-list li {
    border : 1px solid #EFEFEF;
    cursor: move;
    margin : 4px 0;
    padding : 5px;
    background : #fff;
    background-image:  none;
}
.sortable-list li:hover {
	background-color: #f5f5f5;
}
.sortable-list li a {

}
.sortable-list li a:hover {
	text-decoration: underline;
}

.sortable-list li .row {
	overflow: hidden;
	width: 100%;
}
.sortable-list li .row .col1 {
	float: left;
	width: 300px;
}
.sortable-list li .row .col2 {
	float: right;
	width: 220px;
	text-align: right;
}

span.del {
	color: #ccc;
	font-size: 11px;
}
span.del a, a.del {
	padding: 0 2px;
	color: #ccc;
	text-decoration: none;
}

.poststatus {
	padding: 3px;
	width: 150px;
	font-size: 13px;
}

/* Admin Hyperlink Management */

.admin-hyperlink{
	font-size: 11px;
}

.admin-hyperlink{
	color: #000;
}

