/* */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FAFAFB;
	font-family: "Trebuchet MS", "Times New Roman", Times, Serif;
	font-size: 13px;
	line-height: 18px;
}

#wrapper {
	margin: 0 auto;
	width: 942px;
}

#header {
	overflow: hidden;
	width: 942px;
	padding-top: 40px;
}

#logo {
	float: left;
	width: 361px;
	height: 97px;
	margin-left: 30px;
}

#contact-panel {
	float: right;
	width: 250px;
}

#contact-panel a {
	color: #0E7FC7;
}


#content {
	overflow: hidden;
	width: 912px;
	height: 258px;
	background: url('/static/img/bg.jpg') no-repeat;
	padding-left: 30px;
	padding-top: 30px;
	margin-top: 20px;
}

#queenscresent-logo {
	background: url('/static/img/logo.jpg') no-repeat;
	width: 361px;
	height: 97px;
	text-indent: -1000px;
}

.content-text {
	font-size: 15px;
	line-height: 18px;
	margin-bottom: 18px;
}

#contact-panel p {
	font-size: 14px;
}

p {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 12px;
	color: #333;
}

strong {
	color: #115B2F;
}

h1 {
	color: #115B2F;
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 20px;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	line-height: 26px;
	color: #115B2F;
	margin-bottom: 10px;
	font-weight: normal;
}

h3 {	
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	color: #333333;
	margin-bottom: 22px;
}

h4 {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
	margin-bottom: 5px;
}

.light-green {
	color: #71BE43;
}